@import url('https://webfontworld.github.io/gmarket/GmarketSans.css');

@font-face {
    font-family: 'PyeongChangPeace';
    src: url("/font/PyeongChangPeace-Bold.ttf");
    font-weight: 200;
    font-style: normal;
}

@font-face {
    font-family: 'PyeongChangPeace';
    src: url("/font/PyeongChangPeace-Light.ttf");
    font-weight: 100;
    font-style: normal;
}

@font-face {
    font-family: 'Pretendard';
    font-weight: 900;
    font-display: swap;
    src: local('Pretendard Black'), url(./font/woff2-subset/Pretendard-Black.subset.woff2) format('woff2');
}

@font-face {
    font-family: 'Pretendard';
    font-weight: 800;
    font-display: swap;
    src: local('Pretendard ExtraBold'), url(./font/woff2-subset/Pretendard-ExtraBold.subset.woff2) format('woff2');
}

@font-face {
    font-family: 'Pretendard';
    font-weight: 700;
    font-display: swap;
    src: local('Pretendard Bold'), url(./font/woff2-subset/Pretendard-Bold.subset.woff2) format('woff2');
}

@font-face {
    font-family: 'Pretendard';
    font-weight: 600;
    font-display: swap;
    src: local('Pretendard SemiBold'), url(./font/woff2-subset/Pretendard-SemiBold.subset.woff2) format('woff2');
}

@font-face {
    font-family: 'Pretendard';
    font-weight: 500;
    font-display: swap;
    src: local('Pretendard Medium'), url(./font/woff2-subset/Pretendard-Medium.subset.woff2) format('woff2');
}

@font-face {
    font-family: 'Pretendard';
    font-weight: 400;
    font-display: swap;
    src: local('Pretendard Regular'), url(./font/woff2-subset/Pretendard-Regular.subset.woff2) format('woff2');
}

@font-face {
    font-family: 'Pretendard';
    font-weight: 300;
    font-display: swap;
    src: local('Pretendard Light'), url(./font/woff2-subset/Pretendard-Light.subset.woff2) format('woff2');
}

@font-face {
    font-family: 'Pretendard';
    font-weight: 200;
    font-display: swap;
    src: local('Pretendard ExtraLight'), url(./font/woff2-subset/Pretendard-ExtraLight.subset.woff2) format('woff2');
}

@font-face {
    font-family: 'Pretendard';
    font-weight: 100;
    font-display: swap;
    src: local('Pretendard Thin'), url(./font/woff2-subset/Pretendard-Thin.subset.woff2) format('woff2');
}