@import url('init.css');
@import url('font.css');
@import url('animation.css');

*::-webkit-scrollbar {
    display: none;
}

body {
    font-family: 'PyeongChangPeace';
    font-size: 2rem;
    background-color: #F3F4F6;
    transition: background 0.5s, color 0.5s;

    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-tap-highlight-color: transparent;
    display: flex;
    justify-content: center;
    -ms-overflow-style: none;
    scrollbar-width: none;
}

header,
main,
footer {
    display: flex;
    justify-content: center;
    align-items: center;
}

.content {
    min-height: 100vh;
    max-width: 1023px;
    display: grid;
    grid-template-rows: auto 120px 1fr 100px;
    grid-template-areas:
        "alert"
        "header"
        "main"
        "footer";
}

.alert {
    grid-area: alert;
    height: 50px;
    background-color: white;
    border-radius: 20px;
    margin: 20px 0px 20px 0px;
    padding: 20px;
    overflow: hidden;
    align-items: center;
    transition: background 0.5s, color 0.5s, height 0.5s;
    box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.1);
}

header {
    justify-content: space-between;
    grid-area: header;
    padding: 0px 40px;
    margin-top: 20px;
    background-color: white;
    border-radius: 20px;
    margin-bottom: 20px;
    padding: 20px;
    overflow: hidden;
    align-items: center;
    transition: background 0.5s, color 0.5s, height 0.5s;
    box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.1);
}

.ksmicon {
    cursor: pointer;
    transition: all 0.2s;
}

.ksmicon:hover {
    transform: scale(1.1);
}


main {
    gap: 20px;
    grid-area: main;
    display: grid;
    grid-template-columns: 600px 1fr;
    grid-template-rows: auto 1fr;
    grid-template-areas:
        "story story"
        "content1 content2"
        "content1 content2";
}

.story {
    grid-area: story;
    height: 220px;
    display: flex;
}

.right_list {
    margin-left: 20px;
    width: 100%;
    border-radius: 20px;
    padding: 0px;
    transition: all 2s;
    box-shadow: 0px 0px 3px rgba(5, 5, 5, 0.1);
    background-color: #b2b2b2;
    /* box-shadow: 0px 0px 0px 1px black; */
}

.right_list_item {
    height: 220px;
    flex-basis: 170px;
    min-width: 170px;
    margin-left: 1px;
    background-color: white;
    display: grid;
    grid-template-rows: 4fr 1fr;
    grid-template-areas:
        "none"
        "right_list_item_title";
    align-items: end;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    box-sizing: border-box;
    cursor: pointer;
    transition: all 0.09s linear, background 0.5s, color 0.5s;
}

#add {
    border-radius: 20px;
}

.right_list_item:first-child {
    border-radius: 18px 0px 0px 18px;
    margin-left: 0px;
}

.right_list_item:last-child {
    border-radius: 0px 18px 18px 0px;
}

.right_list_item_title {
    grid-area: right_list_item_title;
    font-size: 15px;
    font-weight: 100;
    padding: 10px;
    word-break: keep-all;
    word-wrap: break-word;
    white-space: no-wrap;
    text-overflow: ellipsis;
    overflow: hidden;
    color: white;
    text-shadow: 0px 0px 2px rgb(0, 0, 0), 0px 0px 2px rgb(0, 0, 0);
    pointer-events: none;
}

.widget {
    flex-grow: 1;
    height: 500px;
    background-color: white;
    border-radius: 20px;
    margin-bottom: 20px;
    padding: 20px;
    overflow: hidden;
    align-items: center;
    transition: background 0.5s, color 0.5s, height 0.5s;
    box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.1);
}

.dual {
    /* display: grid;
    grid-template-columns: 1fr 1fr; */
    display: flex;
    gap: 20px;
}

.content1 {
    grid-area: content1;
    align-self: start;
}

.inputdate {
    background-color: transparent;
    border: none;
    font-size: 0.7em;
    width: 100%;
    height: 30px;
    font-weight: 100;
    grid-area: inputdate;
    overflow-wrap: break-word;
    outline: none;
    font-family: "PyeongChangPeace";
}

.meal_div {
    background-color: white;
    border-radius: 20px;
    display: grid;
    padding: 20px;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto 1fr 60px;
    grid-template-areas:
        'inputdate go_back_forward mealbackbutton'
        'meal_left mealtext meal_right'
        'mealtimebutton mealtimebutton mealtimebutton';
    overflow: hidden;
    align-items: center;
    transition: background 0.5s, color 0.5s, height 0.5s;
}

.meal_left,
.meal_right {
    display: flex;
    width: 100%;
    height: 30%;
    background-image: url("/img/mealarrow.png");
    background-position: center left;
    background-size: contain;
    background-repeat: no-repeat;
    cursor: pointer;
    transition: all 0.2s;
}

.meal_left:active,
.meal_right:active {
    filter: invert(50%);
}

.meal_left:hover {
    transform: rotate(10deg);
}

/* filter: invert(100%); */
.meal_right:hover {
    transform: rotate(170deg);
}

.meal_left {
    grid-area: meal_left;
}

.meal_right {
    grid-area: meal_right;
    transform: rotate(180deg);
}

.meal {
    width: 100%;
    height: 11;
    grid-area: meal;
    display: flex;
    justify-content: center;
}

.mealtext {
    grid-area: mealtext;
    text-align: center;
    font-weight: 100;
    align-items: center;
    word-break: keep-all;
    display: none;
    animation: fadein 0.5s 0.2s;
    animation-play-state: running;
    animation-fill-mode: forwards;
    opacity: 0;
}

.mealbackbutton {
    grid-area: mealbackbutton;
    display: flex;
    justify-content: end;
}

.mealtimebutton_div {
    display: flex;
    flex-direction: row;
    color: white;
    font-family: 'Pretendard';
    font-weight: 500;
    height: 60px;
    width: 100%;
    grid-area: mealtimebutton;
    text-align: center;
    box-sizing: border-box;
    transition: all 0.09s linear;
    animation: fadein 0.5s 0.2s;
    animation-play-state: running;
    animation-fill-mode: forwards;
    opacity: 0;
}

.mealtimebutton_item {
    justify-content: center;
    align-items: center;
    display: flex;
    text-align: center;
    align-items: center;
    font-size: 30px;
    font-weight: 700;
    cursor: pointer;
    transition: all 0.2s;
    width: 100%;
    border-radius: 10px;
    border: 1px solid black;
}

.mealtimebutton_item:hover {
    box-shadow: 0 0 0 2px #303134 inset;
}

.form_radio_btn {
    width: 100%;
    height: 100%;
    border-radius: 10px;
    margin: 0px 5px;
    transition: all 0.2s;
}

.form_radio_btn label {
    display: block;
    border-radius: 10px;
    margin: 0px;
    text-align: center;
    height: -webkit-fill-available;
    line-height: 45px;
    transition: all 0.2s;
    cursor: pointer;
}

.form_radio_btn input[type=radio] {
    display: none;
}

label {
    font-family: 'PyeongChangPeace';
}

/* Checked */
.form_radio_btn input[type=radio]:checked+label {
    background: #184DA0;
    color: black;
    width: 100%;
    font-size: 40px;
}

/* Hover */
.form_radio_btn label:hover {
    color: #666;
}

/* Disabled */
.form_radio_btn input[type=radio]+label {
    background: transparent !important;
    color: #666;
    border: 0px;
    font-size: 25px;
    font-weight: 200;
}

.content2 {
    grid-area: content2;
    align-self: start;
}

.function {
    background-color: #ffffff;
    padding: 30px;
    transition: background 0.5s, color 0.5s, height 0.5s;
}

.school_barogagi {
    height: 70px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 15px;
}

.school_barogagi div {
    display: grid;
    grid-template-rows: 1.5fr 1fr;
    overflow: auto;
    /* 내부 요소가 넘칠 경우 스크롤바 표시 */
    background-color: #FAFAFA;
    /* box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.1); */
    border-radius: 10px;
}

.school_barogagi div div {
    display: flex;
    justify-content: center;
    font-size: 15px;
}

.school_barogagi div div:first-child {
    padding: 10px;
}

.function_text {
    font-size: 30px;
    font-weight: 100;
    height: 30px;
    grid-area: functiontext;
    margin: 30px 0px 20px 10px;
    white-space: nowrap;
}

.function_item {
    display: grid;
    grid-template-columns: 50px auto;
    cursor: pointer;
    align-items: center;
    margin-bottom: 5px;
    padding: 10px;
    border-radius: 20px;
    box-sizing: content-box;
    transition: all 0.09s linear;
}

.function_item:hover {
    background-color: #F3F4F6;
}

.function_item_img {
    width: 50px;
    height: 50px;
    border-radius: 75px;
}

.function_item_title {
    padding-left: 10px;
    align-self: center;
    display: grid;
    grid-template-rows: 1fr;
}

.function_item_main {
    font-size: 20px;
    font-weight: 100;
    padding-bottom: 2px;
    align-content: end;
    align-self: self-end;
    white-space: nowrap;
}

.function_item_sub {
    font-size: 15px;
    font-weight: 200;
    word-break: keep-all;
    padding-top: 5px;
    align-self: self-start;
}

footer {
    grid-area: footer;
    margin-top: 20px;
    font-weight: 100;
    font-size: 16px;
}

footer * {
    color: #303134;
    text-decoration: none;
    transition: all 0.2s;
}

footer > a:hover {
    font-size: 18px;
    filter: invert(50%);
}





.header {
    background-color: #f9f9f9;
    width: 100%;
    height: 35px !important;
    position: fixed;
    top: 0;
    left: 0;
    grid-area: header;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-items: left;
    align-items: center;
    z-index: 100;
}

.clock_div {
    display: flex;
    justify-content: left;
    width: 200px;
}

.clock_div > .apm {
    font-weight: 200;
    margin-right: 10px;
    font-size: 30px;
}

.clock_div > .clock {
    display: flex;
    font-weight: 100;
    font-size: 23px;
    align-self: end;
}



.asm {
    display: flex;
    justify-content: end;
    padding-right: 15px;
}

.arrow {
    height: 30px;
    transform: rotate(180deg);
    transition: all 0.5s, filter 0.5s;
    cursor: pointer;
}

.story-sub {
    grid-area: s-sub;
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 10px 15px 10px 30px;
}

.story_main {
    grid-area: s-main;
    display: flex;
    justify-content: center;
    align-content: center;
    padding: 0px 170px 0px 170px;
}

.right_list {
    width: 100vw;
    height: 100%;
    overflow-x: scroll;
    scroll-behavior: smooth;
    display: flex;
    -ms-overflow-style: none;
    /* IE and Edge */
    scrollbar-width: none;
    /* Firefox */
}

.right_list::-webkit-scrollbar {
    display: none
        /* Chrome , Safari , Opera */
}

.apm {
    grid-area: go_back_forward;
}

.bgcolor {
    background-color: rgb(70, 112, 188) !important;
}

.font40px {
    font-size: 45px;
    font-weight: 800;
}

html {
    overflow-x: hidden;
}

body::-webkit-scrollbar {
    display: none;
}

body {
    overflow-x: hidden;
    height: auto;
    margin: 0;
    -ms-overflow-style: none;
    /* 인터넷 익스플로러 */
    scrollbar-width: none;
    /* 파이어폭스 */
}

.empty-div {
    margin-right: 20px;
    background-color: transparent;
    color: transparent;
}

content {
    display: grid;
    padding-bottom: 50px;
}

.nolook {
    display: none;
}

.modal_btn {
    width: 500px;
    height: 100px;
}

.modal_wrap {
    display: none;
    width: 100vw;
    height: 100vh;
    position: fixed;
    border: 0px;
    top: 50%;
    left: 50%;
    margin: -50vh 0 0 -50vw;
    background: #ffffff;
    z-index: 2;
    visibility: hidden;
}

.modal_background {
    display: none;
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    top: 0;
    left: 0;
    z-index: 1;
}

.modal_close {
    width: 30px;
    height: 30px;
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
    background-color: transparent;
    transition: all 0.2s;
}

.modal_close:hover {
    transform: scale(1.1);
}

.widget_content {
    padding: 0px;
}

.asm_function {
    display: grid;
    grid-template-rows: 2fr 1fr;
}

.asm_function_main {
    display: flex;
    justify-content: center !important;
}

.asm_function_sub {
    background-color: #202124 !important;
    border-radius: 20px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.asm_function_main_div {
    display: flex;
    width: 180px;
    height: 120px;
    border-radius: 100px;
    justify-content: center;
    align-items: center;
    background-color: #000000;
    transition: all 0.2s;
    cursor: pointer;
}

.asm_function_main_div:hover {
    transform: scale(1.05);
}

.asmsvg {
    transition: all 0.2s;
}

.asm_function_main_div_circle {
    display: flex;
    width: 160px;
    height: 100px;
    border-radius: 100px;
    justify-content: center;
    background-color: white !important;
    margin: 0px 0.06px 0.06px 0px;
}

.asm_function_sub_b {
    justify-content: center;
    align-items: center;
    text-align: center;
    align-items: center;
    margin: 7px;
    line-height: 69.34px;
    font-size: 30px;
    font-weight: 700;
    cursor: pointer;
    transition: all 0.2s;
}

.asm_function_sub_b:hover {
    box-shadow: 0 0 0 2px #303134 inset;
}


/* desktop 규격 */
@media screen and (min-width: 1024px) {
    .modal_wrap {
        width: 90vw;
        height: 90vh;
        top: 50%;
        left: 50%;
        margin: -45vh 0 0 -45vw;
    }

    .function_div {
        background-color: white;
        grid-area: function_div;
    }

    .meal_div {
        grid-area: meal_div;
    }

    .widget_content {
        display: grid;
        grid-template-columns: 2fr 1fr;
        grid-template-areas:
            'meal_div function_div';
        padding: 0px 150px 0px 150px;
    }

    .story-sub {
        padding: 50px 180px 10px 180px;
        margin: 0px 0px 10px 0px;
    }

    .empty-div {
        margin-right: 118px;
    }

    @media (prefers-color-scheme: dark) {
        .function_div {
            background-color: #202124;
        }
    }
}

/* tablet 규격 */
@media screen and (max-width: 1023px) {}

/* mobile 규격 */
@media screen and (max-width: 540px) {
    .mealtext {
        font-size: 70%;
    }

    .function_item_main {
        padding-top: 0px;
    }

    .function_item_sub {
        padding-top: 0px;
    }
}

/* 다크모드 */
@media (prefers-color-scheme: dark) {
    .meal_div {
        background-color: #303134;
    }

    .right_list_item {
        background-color: #303134;
    }

    .inputdate {
        color: white;
    }

    .widget {
        background-color: #303134;
    }

    .splash {
        background-color: #303134;
    }

    .arrow {
        filter: invert(100%);
    }

    .modal_wrap {
        background-color: #303134;
    }

    .modal_close {
        filter: invert(100%);
    }

    .function {
        background-color: #303134;
    }

    .function_item:hover {
        background-color: #2b2d2f;
    }

    /* Checked */
    .form_radio_btn input[type=radio]:checked+label {
        color: white;
    }
    header {
        background-color: #303134;
    }
    .ksmicon {
        filter: invert(100%);
    }
}

/* 모바일 터치 */
@media(hover: none) and (pointer: coarse) {
    .function_item:active {
        transform: scale(0.98);
    }

    .right_list_item:active {
        transform: scale(0.98);
    }
}

/* PC 마우스 */
@media(hover: hover) and (pointer: fine) {
    .function_item:hover {
        transform: scale(1.01);
        /*border: 0.5px solid black;
        background-color: rgb(200, 200, 200);*/
    }

    .right_list_item:active {
        transition: all 1s linear;
    }

    .right_list_item:hover {
        transform: scale(0.98);
    }
}

/* 갤럭시 폴드 */
@media(hover: hover) and (pointer: coarse) {
    .function_item:active {
        transform: scale(0.98);
    }

    .right_list_item:active {
        transform: scale(0.98);
    }
}