@import url('init.css');
@import url('font.css');

/* Global styles */
body {
    font-family: 'Pretendard';
    font-size: 2rem;
    font-weight: bold;
    background-color: #f9f9f9;
}

main {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
}

html {
    overflow-x: hidden;
    box-sizing: border-box;
}

* {
    font-family: 'Pretendard';
    -webkit-user-select: none; /* Safari */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none; /* Standard syntax */
    -webkit-tap-highlight-color: transparent;
}

.content {
    display: grid;
    grid-template-rows: 1fr 1fr 1fr 100px;
    width: 1000px;
    height: 100vh;
    gap: 20px;
    padding: 20px 0px;
}

.widget {
    display: flex;
    flex-direction: column;
    height: 100%;
    background-color: white;
    border-radius: 20px;
    padding: 20px;
    overflow: hidden;
    justify-content: start;
    transition: background 0.5s, color 0.5s, height 0.5s;
    box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.1);
}

.textarea {
    border-radius: 10px;
}

label {
    font-size: 40px;
}

textarea {
    margin-top: 10px;
    height: 100%;
    border: none;
    resize: none;
    font-size: 20px;
    transition: all 0.3s;
    border: 2px solid transparent;
    outline: none;
    padding: 10px;
    background-color: #f9f9f9;
    
}

textarea:focus {
    border: 2px solid rgb(45, 45, 45);
    outline: none;
    padding: 20px;
}

textarea::placeholder {
    color: #f9f9f9;
    transition: color 0.3s ease-in-out; /* 색상 변경에 트랜지션 효과 추가 */
}

textarea:focus::placeholder {
    color: #2b2a33; /* 포커스 후 placeholder 텍스트 색상 */
}

button {
    font-size: 40px;
    font-weight: 700;
    height: 100px;
    background-color: white;
    border-radius: 20px;
    padding: 20px;
    overflow: hidden;
    justify-content: start;
    transition: background 0.5s, color 0.5s, height 0.5s;
    box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.1);
    border: 0px;
    color: black;
    cursor: pointer;
    transition: all 0.3s;
    border: 2px solid transparent;
}

button:hover {
    transform: scale(1.05);
    border: 2px solid #1c1b22;
}

.border {
    border: 4px solid black;
}

/* Dark mode */
@media (prefers-color-scheme: dark) {
    body, #title, #content, #content-div {
        background: #2b2a33;
        color: white;
    }
}

/* Common styles for all screen sizes */
body {
    overflow-x: hidden;
    width: 100%;
    min-height: 100vh;
    position: relative;
    box-sizing: border-box;
}

div {
    box-sizing: border-box;
}

pre {
    white-space: pre-wrap;
}

#img-div {
    background-repeat: no-repeat;
    background-position: center center;
    background-size: contain;
    background-origin: content-box;
    background-color: #1c1b22;
}

#content-div {
    grid-area: content-div;
    padding: 40px 40px 40px 40px;
}

#title {
    font-size: 45px;
}

#content {
    padding: 30px 00px 30px 0px;
    font-weight: 500;
}

/* Desktop styles */
@media screen and (min-width: 1024px) {
    body {
        display: grid;
        grid-template-columns: 1.5fr 1fr !important;
        grid-template-areas: 'img-div content-div';
    }

    #img-div {
        grid-area: img-div;
    }

    #content-div {
        grid-area: content-div;
        padding: 40px 40px 0px 40px;
    }

    #title {
        font-size: 45px;
    }

    #content {
        padding: 30px 00px 30px 0px;
        font-size: 25px;
    }
}


/* Tablet and Mobile styles */
@media screen and (max-width: 1023px) {
    #img-div {
        height: 50vh;
    }

    #title {
        font-size: 35px;
    }

    #content {
        font-size: 25px;
    }
}

/* Mobile specific styles */
@media screen and (max-width: 540px) {
    #title {
        font-size: 30px;
    }

    #content {
        font-size: 20px;
    }
}

/* Light and Dark mode */
@media (prefers-color-scheme: light) {
    .themed {
        background: white;
        color: black;
    }
}

/* Mobile touch and PC mouse styles */
@media (hover: none) and (pointer: coarse), (hover: hover) and (pointer: fine) {
    .function-item:active, .right-list-item:active {
        transform: scale(0.98);
    }

    .function-item:hover, .right-list-item:hover {
        transform: scale(1.01);
    }
}

/* Galaxy Fold styles */
@media (hover: hover) and (pointer: coarse) and (max-width: 540px) {
    #title {
        word-break: break-all;
        word-wrap: normal;
    }

    #content {
        font-size: 20px;
        word-break: keep-all;
        word-wrap: break-word;
        white-space: no-wrap;
        overflow: hidden;
    }
}

/* Keyframes animation */
@keyframes fadeout {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
